<div  id="banner"> 
    <div id="tint">
        <div id="banner_text">
            <h2 style="color: antiquewhite;">Convex digitals is a creative and innovative company
                with the primary objective of providing new and unique advertising options to corporate business
            </h2>
        </div> 
    </div>
</div>
<br><br>
<div class="container-fluid text-center"> 
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <p class="lead">Our Vision<i class="fas fa-eye"></i></p>
                <p>To be the leading provider of advertising services nation wide  <br> To ensure that every 
                business looking for the best and cost effective means of brand communication does so through incwright</p>
            </div>
            <div class="well">
                <p class="lead">Our Mission<i class="far fa-bow-arrow"></i></p>
                <p>We believe that delivering on our promises, and commitment to excellent service to our clients  are the key successes</p>
            </div>            
        </div>
        <div class="col-sm-6">
            <div class="well text-center">
                <p class="lead">Our Services<i class="fas fa-cogs"></i></p>
                <ul>
                    <li>khgf</li>
                    <li>khgf</li>
                    <li>khgf</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!--meet out team-->

<div class="container" style="text-align:center">
    <h3>MEET OUR TEAM</h3>
  <div class="row center_items">
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Francois</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Franco</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Francois Mavunila</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Francois Mavunila</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Francois Mavunila</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
             <img src="/images/team.jpg" width="100%">
            <div class="container" style="width: 100%;">
                <h2>Francois Mavunila</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>    
  </div>
</div>



